@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html{
    font-family: Outfit;
}

html, body{
    height: 100%;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: #d6e1f0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    padding-bottom: 7px;
    display: block;
    position: relative;
    width: 100%;
    padding-top: 50px;
    clear: both;
}

.bgcontainer{
    background-color: white;
    text-align: center;
    width: 190px;
    height: 310px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.img-qr {
    width: 167px;
    border-radius: 16px;
    padding: 10px 10px 10px 10px; 
}

.first-text{
    font-size: 13px;
    font-weight: 700;
    padding: 15px;
    margin-top:-10px;
}

.sec-text{
    font-size: 10.5px;
    font-weight: 400;
    padding: 15px;
    margin-top:-28px;
}